# Build directories
bin
build
target
deploy
.gradle
local-maven-repo

# created by testIDEA when started from this dir
workspace

# Compiled class file
*.class

# Log file
*.log

# Package Files #
#*.jar
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
