<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="si.isystem.itest.main.TestBenchMain">
         </run>
      </application>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="si.isystem.itest.handlers.FileNewCmdHandler"
            id="si.isystem.itest.commands.fileNew"
            name="New">
      </command>
      <command
            defaultHandler="si.isystem.itest.handlers.FileOpenCmdHandler"
            id="si.isystem.itest.commands.fileOpen"
            name="Open">
      </command>
      <command
            defaultHandler="si.isystem.itest.handlers.FileOpenRecentCmdHandler"
            id="si.isystem.itest.commands.fileOpenRecent"
            name="%command.name.Open_recent">
         <commandParameter
               id="si.isystem.itest.commands.openRecentParams"
               name="fileName"
               optional="true">
         </commandParameter>
      </command>
      <!-- command
            defaultHandler="si.isystem.itest.handlers.FileSaveAsCmdHandler"
            id="si.isystem.itest.commands.fileSaveAs"
            name="%command.name.Save_As">
      </command -->
      <command
            defaultHandler="si.isystem.itest.handlers.FileExitCmdHandler"
            id="si.isystem.itest.commands.exit"
            name="%command.name.Exit">
      </command>
      <command
            defaultHandler="si.isystem.itest.handlers.FilePropertiesCmdHandler"
            id="si.isystem.itest.commands.toolsConfigure"
            name="Properties">
      </command>
      <command
            defaultHandler="si.isystem.itest.handlers.FileExportCmdHandler"
            id="si.isystem.itest.commands.export"
            name="%command.name.Export">
      </command>
      <command
            defaultHandler="si.isystem.itest.handlers.FileImportCmdHandler"
            id="si.isystem.itest.commands.import"
            name="%command.name.Import">
      </command>
      
      <command
            defaultHandler="si.isystem.itest.handlers.EditCopyCmdHandler"
            id="si.isystem.itest.commands.editCopy"
            name="%command.name.Copy">
      </command>
      <command
            defaultHandler="si.isystem.itest.handlers.EditCutCmdHandler"
            id="si.isystem.itest.commands.editCut"
            name="%command.name.Cut">
      </command>
      <command
            defaultHandler="si.isystem.itest.handlers.EditPasteCmdHandler"
            id="si.isystem.itest.commands.editPaste"
            name="%command.name.Paste">
      </command>
      <command
            defaultHandler="si.isystem.itest.handlers.EditUndoCmdHandler"
            id="si.isystem.itest.commands.editUndo"
            name="%command.name.Undo">
      </command>
      <command
            defaultHandler="si.isystem.itest.handlers.EditRedoCmdHandler"
            id="si.isystem.itest.commands.editRedo"
            name="%command.name.Redo">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=edit">
         <menu
               id="si.isystem.itest.mainMenu.file"
               label="File"
               mnemonic="F">
            <command
                  commandId="si.isystem.itest.commands.fileNew"
                  icon="platform:/plugin/si.isystem.itest.plugin.core/icons/new_test.gif"
                  style="push">
            </command>
            <command
                  commandId="si.isystem.itest.commands.fileOpen"
                  icon="platform:/plugin/si.isystem.itest.plugin.core/icons/open_test_file.gif"
                  mnemonic="O"
                  style="push">
            </command>
            <menu
               id="si.isystem.itest.main.file.openRecent"
               label="Open Recent"
               mnemonic="c">
               <dynamic
                  class="si.isystem.itest.common.FileOpenRecentDynamicMenu"
                  id="si.isystem.itest.menu.file.rescentList">
               </dynamic>
            </menu>
            <separator
                  name="si.isystem.itest.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.close"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  style="push">
            </command>
            <separator
                  name="si.isystem.itest.separator11"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  style="push">
            </command>
            <separator
                  name="si.isystem.itest.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="si.isystem.itest.commands.export"
                  icon="platform:/plugin/si.isystem.commons.plugin/resources/icons/enabled/export_wiz.gif"
                  mnemonic="E"
                  style="push">
            </command>
            <command
                  commandId="si.isystem.itest.commands.import"
                  icon="platform:/plugin/si.isystem.commons.plugin/resources/icons/enabled/import_wiz.gif"
                  mnemonic="I"
                  style="push">
            </command>
            <separator
                  name="si.isystem.itest.separator5"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.properties"
                  style="push">
            </command>
            <separator
                  name="si.isystem.itest.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="si.isystem.itest.commands.exit"
                  mnemonic="x"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=edit">
         <menu
               id="edit"
               label="Edit"
               mnemonic="E">
          </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:edit?before=si.isystem.itest.commands.editPasteAsDerived">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  style="push">
            </command>
            <separator
                  name="si.isystem.itest.separator7"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  style="push">
            </command>
            <separator
                  name="si.isystem.itest.separator777"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.selectAll"
                  style="push">
            </command>
            <separator
                  name="si.isystem.itest.separator778"
                  visible="true">
            </separator>
      </menuContribution>
      
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=si.isystem.itest.mainMenu.itools">
         <menu
               label="Help"
               mnemonic="H">
            <command
                  commandId="org.eclipse.ui.help.displayHelp"
                  icon="platform:/plugin/si.isystem.commons.plugin/resources/icons/help_contents.gif"
                  mnemonic="D"
                  style="push">
            </command>
            <separator
                  name="si.isystem.itest.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  mnemonic="A"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      
      
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=si.isystem.itest.coolbar">
         <toolbar
               id="si.isystem.itest.main.coolbar">
            <command
                  commandId="si.isystem.itest.commands.fileNew"
                  icon="platform:/plugin/si.isystem.itest.plugin.core/icons/new_test.gif"
                  style="push">
            </command>
            <command
                  commandId="si.isystem.itest.commands.fileOpen"
                  icon="platform:/plugin/si.isystem.itest.plugin.core/icons/open_test_file.gif"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  style="push">
            </command>
            <separator
                  name="si.isystem.itest.separator6"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  style="push">
            </command>
            <separator
                  name="si.isystem.itest.separator2"
                  visible="true">
            </separator>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="si.isystem.itest.commands.fileOpen"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+O">
      </key>
      <key
            commandId="si.isystem.itest.commands.editRedo"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Y">
      </key>
      <key
            commandId="si.isystem.itest.commands.editUndo"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Z">
      </key>
      <key
            commandId="si.isystem.itest.commands.editCut"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+X">
      </key>
      <key
            commandId="si.isystem.itest.commands.editCopy"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+C">
      </key>
      <key
            commandId="si.isystem.itest.commands.editPaste"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+V">
      </key>
   </extension>
</plugin>
